html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    text-align: center;
    padding: 20px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.story-opening {
    background-color: #fdf8f8;
    border: 0px solid #ccc;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(196, 175, 175, 0.2);
}

.buttons {
    margin: 20px;
}

button {
    font-size: 50px;
    padding: 10px 20px;
    margin: 10px;
    background-color: #ffbb00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.option-one-screen,
.option-two-screen,
.option-one-end,
.option-two-end {
    display: none; /* Hide sections initially */
}

.option-one-end, 
.option-two-end {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.option-one-end img,
.option-two-end img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    display: block;
}